  footer{
    bottom: 0;
    right:0;
    left:0;
    position: fixed;
    text-align: center;
  }

  #myScreen{
    border:5px solid #3385ff;
  }
  header{
    position: fixed;
    top:0;
    width: 100%;
  }
  #gameBox {
    top: 0;
    right:0;
    left:0;
    bottom:0;
    position: absolute;
    margin: auto;
    width: 50rem;
    height: 33rem;
    border: 3px solid black;
    border-radius:20px;
    margin-right:150px;
  }
  #contentBox {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    width: 30rem;
    height: 10rem;
    border-radius: 20px;
    margin-left: 250px;
    text-align: center;
  } 
  .row {
    height:100%;
    align-content: center;
    text-align: center;
  }
  .table-width{
    width:200px;
  }
  body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: white;
    background-color: #1abc9c
  }
  .bg-modal{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 1;
  }
  .modal-content{
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
  button{
    width:50px;
  }
  img{
    margin-left: 130px;
  }
  tr{
   border-bottom:1px solid black;
  }